#middle
  %h3 About Us
  %p
    Meet the folks behind <em>the Rubyist</em>
    %hr{ :style => "width: 500px;" }
    
#q-and-a.about.ads
  %div
    %h1
      = link img("jeremy.png") , "http://www.jeremymcanally.com"
    %div
      %h4 Jeremy McAnally
      %h5 
        %p Editor in Chief
        %p= link "jeremy@therubyist.com" , "mailto:jeremy@therubyist.com"   
      %p
        Jeremy has been working with Ruby since 2005, and is a Rails Core Contributor. He 
        joined <a href="http://entp.com/">ENTP</a> in mid-2008, where he now works on customer 
        applications and training.
      %p
        Jeremy spends his free time working on Open Source projects, including dcov, vintage, fleet and 
        pillow. He is a co-author of <em><a href="http://www.manning.com/mcanally/">Ruby in Practice</a></em> 
        and author of the self-published <em><a href="http://www.humblelittlerubybook.com/">Humble Little 
        Ruby Book</a></em>. He lives with his wife in Huntsville, AL.
  %div
    %h1.right
      = link img("pat.jpg") , "http://www.on-ruby.blogspot.com"
    %div
      %h4 Pat Eyler
      %h5 
        %p Assistant Editor
        %p= link "pat@therubyist.com" , "mailto:pat@therubyist.com"   
      %p
        Pat Eyler is an Infrastructure Engineer for the LDS Church. He writes for O'Reilly and 
        <a href="http://www.linuxjournal.com">LinuxJournal.com</a>, and organizes the Ruby Central 
        Google Summer of Code program each year.  
      %p
        Pat also works with Mike Moore to organize the <a href="http://mtnwestruby.org/">MountainWest 
        RubyConf</a> each year. In his free time, Pat enjoys reading, cooking, spending time with his family, 
        and helping to build the Ruby community. He lives with his family in Salt Lake City, UT.
  %div
    %h1
      =  img("leah.png")
    %div
      %h4 Leah Silber
      %h5 
        %p Managing Editor
        %p= link "leah@therubyist.com" , "mailto:leah@therubyist.com"
      %p
        Leah has been involved with the Ruby community since 2007, and accepted a position running 
        Community Relations at <a href="http://www.engineyard.com">Engine Yard</a> in January of 2008.  
      %p
        In addition to working on <em>the Rubyist</em>, Leah helps organize Regional Ruby Conferences 
        around the world. She previously served as an editor of VisualjQuery Magazine and spends her free time 
        editing technical books and articles. She lives with her husband in San Francisco, CA.

#middle
  %hr{ :style => "width: 500px;" }
  %h3 Coming Soon
  %p
    Meet the Writers