#middle
  %h3 About Us
  %p
    Meet the folks behind <em>the Rubyist</em>
    %hr{ :style => "width: 500px;" }
    
#q-and-a.about.ads
  %div
    %h1
      = link img("missing.gif") , "http://www.blog.com"
    %div
      %h4 Jeremy McAnally
      %h5 
        %p Editor in Chief
        %p= link "jeremy@therubyist.com" , "mailto:jeremy@therubyist.com"   
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tortor in quam porta dignissim. 
        Cras accumsan. Cras faucibus felis a pede. Curabitur erat. Integer rutrum tincidunt velit. Nulla facilisi. 
      %p
        Cras placerat mattis diam. Nam semper, lectus ac cursus commodo, metus magna lacinia massa, vel pretium 
        magna enim eu sem. Phasellus hendrerit sem sed risus varius fringilla. Quisque a purus. Sed dapibus mi 
        at dolor. Etiam ac felis ac risus molestie porttitor. Vivamus sagittis fringilla augue.
  %div
    %h1.right
      = link img("missing.gif") , "http://www.blog.com"
    %div
      %h4 Pat Eyler
      %h5 
        %p Assistant Editor
        %p= link "pat@therubyist.com" , "mailto:pat@therubyist.com"   
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tortor in quam porta dignissim. 
        Cras accumsan. Cras faucibus felis a pede. Curabitur erat. Integer rutrum tincidunt velit. Nulla facilisi. 
      %p
        Cras placerat mattis diam. Nam semper, lectus ac cursus commodo, metus magna lacinia massa, vel pretium 
        magna enim eu sem. Phasellus hendrerit sem sed risus varius fringilla. Quisque a purus. Sed dapibus mi 
        at dolor. Etiam ac felis ac risus molestie porttitor. Vivamus sagittis fringilla augue.
  %div
    %h1
      = link img("missing.gif") , "http://www.blog.com"
    %div
      %h4 Leah Silber
      %h5 
        %p Operations Editor
        %p= link "leah@therubyist.com" , "mailto:leah@therubyist.com"
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tortor in quam porta dignissim. 
        Cras accumsan. Cras faucibus felis a pede. Curabitur erat. Integer rutrum tincidunt velit. Nulla facilisi. 
      %p
        Cras placerat mattis diam. Nam semper, lectus ac cursus commodo, metus magna lacinia massa, vel pretium 
        magna enim eu sem. Phasellus hendrerit sem sed risus varius fringilla. Quisque a purus. Sed dapibus mi 
        at dolor. Etiam ac felis ac risus molestie porttitor. Vivamus sagittis fringilla augue.
  %div
    %h1.right
      = link img("missing.gif") , "http://www.blog.com"
    %div
      %h4 Nathan Weizenbaum
      %h5 
        %p Technical Editor
        %p= link "nathan@therubyist.com" , "mailto:nathan@therubyist.com"
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tortor in quam porta dignissim. 
        Cras accumsan. Cras faucibus felis a pede. Curabitur erat. Integer rutrum tincidunt velit. Nulla facilisi. 
      %p
        Cras placerat mattis diam. Nam semper, lectus ac cursus commodo, metus magna lacinia massa, vel pretium 
        magna enim eu sem. Phasellus hendrerit sem sed risus varius fringilla. Quisque a purus. Sed dapibus mi 
        at dolor. Etiam ac felis ac risus molestie porttitor. Vivamus sagittis fringilla augue.