!!!
%html
  %head
    %title the Rubyist
    = stylesheets :style
  %body
    #top
      = link img("rubyist.png"), "index.html"
      %br
      %br
    = yield
    #blob
      %p= link img("cfp.png") , "cfp.html"    
    #links
      %p
        = link "Home" , "index.html"
        &middot;
        = link "About", "about.html"
        &middot;
        = link "Contribute", "cfp.html"
        &middot;
        = link "Advertise", "advertise.html"
        &middot;
        = link "Contact", "contact.html"
    #bottom
      %p
        The Rubyist&trade;, its content, and design elements are &copy;2008 Jeremy McAnally.
        %br/
        Direct any general inquiries to
        %a{ :href => "mailto:editor@therubyist.com" }
          editor@therubyist.com
          
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6886443-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>